:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#app {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

#floating-menu{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

#question-container {
  position: absolute;
  bottom: 5vh;
  width: 100vw;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#question {
  font-size: 40px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
}


.answer-choice-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 9px #999;
  background-color: #008CBA;
}

/* Button hover effects */
.answer-choice-button:hover {
  opacity: 0.8;
}
.answer-choice-button:enabled:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.answer-choice-button:disabled {
  background: rgba(0, 140, 186, 0.5);
}
